@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Sansita+Swashed&display=swap');

* {
    margin: 0 px;
    padding: 0 px;
    font-family: 'Balsamiq Sans', cursive;
}

header {
    background-image:url('../img/14.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.exp {
    margin: 0 px;
    padding: 0 px;
}

.navbar {
    background-color: #724e85;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.home {
    background-color: #fef0f5;
    margin:auto;
}

.navbar .navbar-nav .nav-item .nav-link:link, .navbar .navbar-nav .nav-item .nav-link:visited {
    color:white;
    margin-right: 20px;
    margin-top: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active {
    color:black;
    background-color: white;
}

.navbar .navbar-toggler {
    color:black;
    background-color: RGB(254, 240, 245);
}

.nav-item {
    font-weight: 700;
    padding-left: 10px;
}

.title {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-shadow: 1px 1px 10px rgba(0,0,0,0.7);
}

h1 {
    text-align: center; 
    font-size:80px;
    text-shadow: 0 0 1.0rem rgb(0, 0, 0);
  }


.about {
    background-image: url('../img/14.jpg');
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 30px;
}


.experience , .project{
    background-color:#fef0f5;
    min-height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 30px;
}


#contact-logo img {
    transition: ease-out .1s;
}
    
#contact-logo a:hover {
    transform: translateY(-0.5em);
}
    
#rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    width: 200px;
    height: 250px;
}

.col-md-6 .card, .col-md .card {
    border: 1px solid RGB(254, 240, 245);
}

.col-md-6 .card .card-body , .col-md .card .card-body{
    background:RGB(254, 240, 245);
    
}

footer, .contact-logo {
    text-align: center; 
    background-color:#724e85;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5em .3em;
}

.hobi1, .hobi2, .hobi3 {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    width: 30%;  
    height:70%;
}

.pKiri , .pKanan {
    font-size: large;
    font-weight: bolder;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

  .body {
    margin-top:8px;
    background-image: url('../img/14.jpg'); 
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    width: 100%;
    font-family: 'Balsamiq Sans', cursive;
  }
  
  .kiri {
    grid-column: 1;
  }
  
  .kanan {
    grid-column: 4;
  }

/* first_blog */
.jumbotron {
    background-image: url('../img/14.jpg');
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
}

/*list_blog*/
#blogs {
    margin-top: 100px; margin-bottom: 100px;
    background-color: #fef0f5;
}

/*timeline edited from freefrontend.com*/
.hori-timeline .events {
    border-top: 3px solid #e9ecef;
}
.hori-timeline .events .event-list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.hori-timeline .events .event-list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}
.hori-timeline .events .event-list .event-date {
    position: absolute; top: 38px; left: 0; right: 0;
    width: 150px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 2px 4px;
}

@media (min-width: 1140px) {
    .hori-timeline .events .event-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
    }
    .hori-timeline .events .event-list .event-date {
        top: -12px;
    }
}
.bg-soft-primary {
    background-color: rgba(64,144,203,.3)!important;
}
.bg-soft-success {
    background-color: rgba(71,189,154,.3)!important;
}
.bg-soft-danger {
    background-color: rgba(231,76,94,.3)!important;
}
.bg-soft-warning {
    background-color: rgba(249,213,112,.3)!important;
}
.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
    box-shadow: 0 0 13px 0 rgba(236,236,241,.44);
}