* {
    margin: 0 px;
    padding: 0 px;
    font-family: serif;
}

header {
    background-image:url('../img/1.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}


.main {
    max-width: 1200px;
    margin:auto;
}

.navbar .navbar-nav .nav-item .nav-link:link, .navbar .navbar-nav .nav-item .nav-link:visited {
    color:white;
    margin-right: 20px;
    margin-top: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active {
    color:black;
    background-color: white;
}

.navbar .navbar-toggler {
    color:white;
    background-color: RGB(254, 240, 245);
}

.nav-item {
    font-weight: 700;
    padding-left: 10px;
}

.title {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.title h1 {
    color:white;
    font-size: 80px;
}

h2 {
    text-decoration: overline;
}

.about {
    background-image: url('../img/14.jpg');
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 30px;
}


.experience , .project{
    background-color:#fef0f5;
    min-height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-top: 30px;
}


#contact-logo img {
    transition: ease-out .1s;
}
    
#contact-logo a:hover {
    transform: translateY(-0.5em);
}
    
#rounded-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    width: 200px;
    height: 250px;
}

.project .col-lg-6 {
    background-color: #724e85;
    
}

.col-md-6 .card, .col-md .card {
    border: 1px solid RGB(254, 240, 245);
}

.col-md-6 .card .card-body , .col-md .card .card-body{
    background:RGB(254, 240, 245);
}

footer, .contact-logo {
    text-align: center; 
    background-color:#724e85;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5em .3em;
}

.hobi1, .hobi2, .hobi3 {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
    width: 30%;  
    height:70%;
}

.pKiri , .pKanan {
    font-size: large;
    font-weight: bolder;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}


  h1 {
    text-align: center; 
    font-family:'copperplate'; 
    color:whitesmoke;
    text-shadow: 0 0 1.0rem rgb(0, 0, 0);
  }
  
  .body {
    margin-top:8px;
    background-image: url('../img/14.jpg'); 
    background-repeat:no-repeat ;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  
  .kiri {
    grid-column: 1;
  }
  
  .kanan {
    grid-column: 4;
  }
  
