.wrapper {
    min-height: 90vh;
    transition: .5s ease-out;
}

h5 {
    font-size:5px;
    text-align: center;
    text-shadow: 0 0 1.0rem rgba(127, 11, 138, 0.884);
}

.buttons {
    height: 4rem;
}

.header {
    background-color:  rgba(71,189,154,.3);
    color: #696565;
    height: 4rem;
    transition: .5s ease-out;
}

.header:hover {
    cursor: pointer;
}

.up {
    background-color: #7830b3b0;
    color: white;
    transition: .5s ease-out;
}

.down {
    color: white;
    background-color: #cc3893;
    transition: .5s ease-in;
}

.content {
    background-color: #f9fcfb;
    display: none;
}

.content .isi p {
    text-align: justify;
}

.judul:hover {
    color: black;
    text-shadow: 0 0 1.0rem rgb(255, 255, 255);
}

.accordion1 {
    order: 1;
}

.accordion2 {
    order: 2;
}

.accordion3 {
    order: 3;
}

.accordion4 {
    order: 4;
}

.accordion5 {
    order: 5;
}

