{% extends 'story5/base.html' %}
{% load static %}

{% block page_title %} 
    Edit Profile
{% endblock page_title %}

{% block content %}
 
    <div class="container" style="max-width:60%; margin-top:130px; margin-bottom:80px;">
        <h1 class="my-5">Edit Profile</h1>
    <div class="card mb-3" style="background-color: #fef0f5; box-shadow:0 0 1.0rem rgb(175, 161, 161);">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data" class="mt-5" >
                {% csrf_token %}
                <div class="row" style="margin-left:auto; margin-right:auto; width:80%">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Nama</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.nama }}
                    </div>
                </div>
            <hr>
                <div class="row" style="margin-left:auto; margin-right:auto; width:80%">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Umur</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.umur }}
                    </div>
                </div>
            <hr>
                <div class="row" style="margin-left:auto; margin-right:auto; width:80%">
                    <div class="col-sm-3">
                    <h6 class="mb-0">Alamat</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ edit.alamat }}
                    </div>
                </div>
           
                    <center class="my-5">
                    <button  class="btn btn-success" type="submit">Save</button>
                    <a href="{% url 'story9:profile_dua' %}" class="btn btn-danger">Back</a>
                    </center>
                
            </form>
        </div>
    </div>

    </div>
{% endblock content %}