{% extends 'story5/base.html' %}
{% load static %}

{% block page_title %}
Profile 
{% endblock page_title %}

{% block content %}
<div class="container" style="max-width:70%; margin-top:130px; margin-bottom:80px; background-color: #fef0f5;">
      <h1 class="mb-5">Profile Info</h1>
      
      <h3 class="text-center">Selamat datang {{user.username}}</h3>
      <div class="card mb-3" style="background-color: #fef0f5; box-shadow:0 0 1.0rem rgb(175, 161, 161);">
          <div class="card-body" style="margin-left:auto; margin-right:auto; width:80%">
            <div class="row">
                <div class="col-sm-4 text-secondary my-3">
                    <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-8 my-3">
                    {{ user.username }}
                </div>
                <hr>

                <div class="col-sm-4 text-secondary my-3">
                    <h6 class="mb-0">Nama</h6>
                </div>
                <div class="col-sm-8 my-3">
                    {{ data.nama }}
                </div>
                <hr>

                <div class="col-sm-4 text-secondary my-3">
                    <h6 class="mb-0">Umur </h6>
                </div>
                <div class="col-sm-8 my-3">
                    {{ data.umur }} tahun
                </div>
                <hr>

                <div class="col-sm-4 text-secondary my-3">
                    <h6 class="mb-0">Alamat</h6>
                </div>
                <div class="col-sm-8 my-3">
                    {{ data.alamat }}
                </div>

                <center class="my-3 px-3">
                    <a href="{% url 'story9:update_profile' data.id %}" class="btn btn-primary">Edit</a>
                </center>
            </div>
          </div>
          
      </div>
      <div class="container">
              <center>
                <a href="{% url 'story9:logout' %}" class="btn btn-danger">Logout</a>
              </center>
          </div>
      </div>
    
{% endblock content %}
