{% extends 'story5/base.html' %}
{% load static %}

{% block page_title %} 
    Log in
{% endblock page_title %}

{% block content %}
    <div class="container" style="max-width:60%; margin-top:130px; margin-bottom:80px; background-color: #fef0f5;">
    
        <h1 class="mb-5">Log in</h1>

        <!--mengunakan form.errors django -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert" style="text-align: left;">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {{ error }}
                    {% endfor %}
                {% endfor %}
            </div>
		{% endif %}

        <div class="card" style="background-color: #fef0f5; box-shadow:0 0 1.0rem rgb(175, 161, 161);">
            <div class="card-body">
                <form class="form-signin" method="POST" style="max-width: 80%; margin-left:auto; margin-right:auto;">  
                                  
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputUsername">Username</label>
                        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" width:70% required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required> 
                    </div>
                    
                        <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Log in</button>
                    
                </form>
                </div>
            </div>
          
        <p class="text-center">Register akun <a href="{% url 'story9:register' %}"> disini</a></p>
        </div>
{% endblock content %}