{% extends 'story5/base.html' %}
{% load static %}

{% block page_title %} 
    Register
{% endblock page_title %}

{% block content %}
    <div class="container" style="max-width:60%; margin-top:130px; margin-bottom:80px; background-color: #fef0f5;">

        <h1 class="mb-5">Register</h1>

         <!--mengunakan form.errors django -->
        {% if form.errors %}
		<div class="alert alert-danger" role="alert" style="text-align: left;">
			There are some errors:
			<ul class="mb-0">
				{% for field, errors in form.errors.items %}
					{% for error in errors %}
						<li>{{ error }}</li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
		{% endif %}

        <div class="card" style="background-color: #fef0f5; box-shadow:0 0 1.0rem rgb(175, 161, 161);">
            <div class="card-body">
                <form class="form-signin" method="POST" style="max-width: 80%; margin-left:auto; margin-right:auto;">
                    
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="inputPasswordConfirm">Password Confimation</label>
                    <input type="password" id="inputPasswordConfirm" name="password2" class="form-control" placeholder="Password" required> 
                </div>
                <button class="btn btn-lg btn-outline-primary btn-block" type="submit">Register</button>
            </form>
            </div>
        </div>
    </div>
            
        
{% endblock content %}