{% extends 'story5/base.html' %}
{% load static %}

{% block page_title %}
    {{title}}
{% endblock page_title %}

{% block content %}
<div class="container" style="margin-top :120px; min-height:100vh">
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Nama Matkul</th>
            <th scope="col">Nama Dosen</th>
            <th scope="col">Banyak SKS</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>

        <tbody>
        {% for matkul in all_matkul %}
        <tr>
            <th scope="row">{{forloop.counter}}</th> <!--kalo mau mulai dari 0, pake {{forloop.counter0}}-->
              <td>{{matkul.nama}}</td>
              <td>{{matkul.dosen}}</td>
              <td>{{matkul.sks}}</td>
            <td><a class="btn btn-outline-danger" href="{% url 'story5:delete' matkul.id %}">Delete</a></td>
            <td><a class="btn btn-outline-success" href="{% url 'story5:update' matkul.id %}" title="">Update</a>
            <td><a class="btn btn-outline-primary" href="{% url 'story5:detail' matkul.id %}" title="">Detail</a>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <a class="btn btn-primary" href="{% url 'story5:create' %}">Tambah</a>
</div>

{% endblock content %}