{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/index.css' %}">

<!--CONTACT-->
<footer class="text-white" id="contact">
  <div class="container mt-5">
    <div class="row">
      <div class="col text-">
        <h3><b>Stay Connected With Me At</b></h3>
      </div>
    </div>
  </div>
</footer>

<div class="contact-logo  pt-3" id="contact-logo">
  <a href="https://t.me/kudapunny">
    <img class="icon-contact" src="{% static 'blog/img/4.png' %}" width="60px" alt="telegram">
</a>
<a href="https://gitlab.com/puspita_vanni">
    <img class="icon-contact" src="{% static 'blog/img/gitlab.png' %}" width="60px" alt="gitlab">
</a>
<a href="https://www.instagram.com/puspitavanni_/">
    <img class="icon-contact" src="{% static 'blog/img/ig.png' %}" width="60px" alt="ig">
</a>
<a href="mailto:puspita.sari92@ui.ac.id">
  <img class="icon-contact" src="{% static 'blog/img/email.ico' %}" width="90px" alt="email">
</a>
</div>
</section>

<footer class="text-white">
<div class="container">
  <div class="row">
    <div class="col text-center">
      <p>Copyright &COPY; 2020</p>
    </div>
  </div>
</div>
</footer>