{%  extends 'blog/base.html'  %}
{% load static %}

<!doctype html>
<html lang="en" id="home">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">

    {% block page_title %}
      HOME
    {% endblock page_title %}
  </head>

{% block content %}
<header>
  <div class="title">
    <h1>Hello, I'm Vanni</h1>
  </div>
</header>
    
    <!-----ABOUT------>
    <section class="about" id="about">
      <div class="container pb-5">
          <div class="row my-5">
              <div class="col">
                  <h3><b>ABOUT</b></h3>
              </div>
          </div>

          <div class="row my-5 justify-content-center"> <!--justify-content-center itu buat ke tengah-->
              <div class="col-md-5 text-center">
                  <p class="pKiri text-left">Hi, I'm Puspita Sari Matovanni,
                    you can call me Vanni. I'm a student of Faculty of
                    Computer Science at University of Indonesia
                  </p>
              </div>

              <div class="col-md-5 text-center">
                  <p class="pKanan text-right">I really like swimming,
                    sleeping, and reading
                  </p> 
              </div>
          </div>

          <!--TIMELINE-->
          <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                            <div class="hori-timeline" dir="ltr">
                                <ul class="list-inline events">
                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                            <div class="event-date bg-soft-primary text-primary">2007-2013</div>
                                            <h5 class="font-size-16">SDN Kebon Manggis</h5>
                                            <p class="text">East Jakarta, Jakarta</p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                            <div class="event-date bg-soft-success text-success">2013-2016</div>
                                            <h5 class="font-size-16">SMPN 3 Jakarta</h5>
                                            <p class="text">South Jakarta, Jakarta</p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                            <div class="event-date bg-soft-danger text-danger">2016-2019</div>
                                            <h5 class="font-size-16">SMAN 54 Jakarta</h5>
                                            <p class="text">East Jakarta, Jakarta</p>
                                        </div>
                                    </li>
                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                            <div class="event-date bg-soft-warning text-warning">2019-now</div>
                                            <h5 class="font-size-16">Universitas Indonesia</h5>
                                            <p class="text">Depok, West Java</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    <!-- end card -->
                </div>
            </div>
            
          <div class="row mt-1 justify-content-center">
            <div class="col" id="hobi1">
              <img src="{% static 'blog/img/swim.svg' %}" class="hobi1">
            </div>

            <div class="col" id="hobi2">
              <img src="{% static 'blog/img/sleep.svg' %}" class="hobi2">
            </div>

            <div class="col" id="hobi3">
              <img src="{% static 'blog/img/read.svg' %}" class="hobi3" >
            </div>
          </div>
      </div>
  </section>
  <!---------------->

  <!--EXPERIENCE-->
  <section class="experience" id="experience">
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <h3><b>EXPERIENCE</b></h3>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md my-2">
              <div class="card">
                <a href="#" class="card-img-top"><img src="{% static 'blog/img/iac.jpg' %}" class="card-img-top" alt="..." / ></a>
                <div class="card-body">
                  <h4 href="#" class="link-exp">IACILE Vol.3</h4>
                  <p class="card-text">Pengalaman yang tak terlupakan saat mengerjakan ProKer ini yaitu saat kami para panitia
                    berjualan stiker ke pengunjung Car Free Day
                  </p>
                </div>
            </div>
        </div>

          <div class="col-md my-2">
                <div class="card">
                  <a href="#" class="card-img-top"><img src="{% static 'blog/img/olim.jpg' %}" class="card-img-top" alt="..." / height=></a>
                  <div class="card-body">
                    <h4 href="#" class="link-exp">OLIM UI 2019</h4>
                    <p class="card-text">Menjadi bagian staff divisi Renang Olim UI 2019 memberikan pelajaran yang banyak bagi saya, 
                      mulai dari kedisiplinan, kebersamaan, sampai keceriaan
                    </p>
                  </div>
              </div>
          </div>

          <div class="col-md my-2">
            <div class="card">
              <a href="#" class="card-img-top"><img src="{% static 'blog/img/olim.jpg' %}" class="card-img-top" alt="..." / height=></a>
              <div class="card-body">
                <h4 href="#" class="link-exp">OLIM UI 2019</h4>
                <p class="card-text">Menjadi bagian staff divisi Renang Olim UI 2019 memberikan pelajaran yang banyak bagi saya, 
                  mulai dari kedisiplinan, kebersamaan, sampai keceriaan
                </p>
              </div>
          </div>
      </div> 
      </div>
  </section>
  <!----------->

 <!--PROJECT-->
 <section class="project" id="project">
  <div class="container mt-5">
    <div class="row mb-3 mb-5">
      <div class="col">
        <h3><b>PROJECT</b></h3>
      </div>
    </div>
    </div>

    <div class="container-fluid">
    <div class="row justify-content-center" id="gmbr-row">
      <div class="col-md-6 my-2">
        <div class="card">
          <a href="#" class="card-img-top"><img src="{% static 'blog/img/kb.jpg' %}" class="card-img-top" alt="..." / ></a>
          <div class="card-body">
            <p class="card-text">Budaya KB Lite adalah salah satu project yang dibuat saat Mata Kuliah Dasar-Dasar Pemrograman 1</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-2">
        <div class="card">
          <a href="#" class="card-img-top"><img src="{% static 'blog/img/soon.jpg' %}" class="card-img-top" alt="..." / ></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>
 </section>
 <!---->
{% endblock content  %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>