{% extends 'blog/base.html' %}
{% load static %}

<html>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block page_title %}
        PROJECT
    {% endblock page_title %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">

    {% block content %}
    <!--PROJECT-->
 <section class="project" id="project">
    <div class="container mt-5">
      <div class="row mb-3 mb-5">
        <div class="col">
          <h3><b>PROJECT</b></h3>
        </div>
      </div>
      </div>
  
      <div class="container-fluid">
      <div class="row justify-content-center" id="gmbr-row">
        <div class="col-md-6 my-2">
          <div class="card">
            <a href="#" class="card-img-top"><img src="{% static 'blog/img/kb.jpg' %}" class="card-img-top" alt="..." / ></a>
            <div class="card-body">
              <p class="card-text">Budaya KB Lite adalah salah satu project yang dibuat saat Mata Kuliah Dasar-Dasar Pemrograman 1</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 my-2">
          <div class="card">
            <a href="#" class="card-img-top"><img src="{% static 'blog/img/kb.jpg' %}" class="card-img-top" alt="..." / ></a>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
  
      </div>
   </section>
   <!---->
    {% endblock content %}