
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">

    {% block page_title %}
      <title>More Profile</title>
    {% endblock page_title %}
      <link rel="shortcut icon" href="{% static 'blog/img/kuda.png' %}">

  </head>

  <body class="body">
    {% block content %}
    <div class="container mb-5">
      <div class="row">
        <div class="col-sm-2">
          <a href="{% url 'blog:index' %}" class="back"><img src="../../static/blog/img/back.svg" / width="30px"></a>
        </div>
        <div class="col-sm-8">
          <h1><b>MY PROFILE</b></h1>
        </div>
      </div>
      
      <div class="row mb-2" style="justify-content: center; display:flex; align-content:center">
        <div class="col-lg-4">
          <div class="card mb-3">
            <div class="card">
              <div class="card" style="background-color: antiquewhite;">
                <h4 style="text-align: center;"><b>MY DETAILS</b></h4>
              </div>
              <img src="{% static 'blog/img/15.jpg' %}" class="card-img-top img-thumbnail" width="30%" height="200px" style="background-color: antiquewhite;" alt="foto"> <!--rounded-circle-->
                        <div class="card-body" style="display:grid; grid-template-columns: auto 1fr; background-color: antiquewhite; font-family:'Lucida'; row-gap: .2rem; column-gap: .6rem; ">
                          <div class="kiri">Nama</div>
                          <div class="kanan"><b>Puspita Sari Matovanni</b></div>
                          <div class="kiri">NPM</div>
                          <div class="kanan"><b>1906299080</b></div>
                          <div class="kiri">Jurusan</div>
                          <div class="kanan"><b>Sistem Informasi</b></div>
                          <div class="kiri">Universitas</div>
                          <div class="kanan"><b>Universitas Indonesia</b></div>
                          <div class="kiri">Hobi</div>
                          <div class="kanan"><b>Tidur</b></div>
                        </div>
                        <div class="card" style="background-color: #724e85">
                          <div><h5 style="color:#724e85">gchhvhjv</h5></div>
                        </div>
            </div>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="card" style="background-color: antiquewhite;">
              <div class="card" style="background-color: #724e85";>
                <h4 style="text-align: center; color:white;"><b>ABOUT ME</b></h4>
            </div>
            <div class="card-body"  style="background-color: antiquewhite; font-family:'Lucida';">
              <p style="background-color: antiquewhite; font-family:'Lucida';">Halo, aku mahasiswa Sistem Informasi Fakultas Ilmu Komputer Universitas Indonesia angkatan 2019. 
                Sistem Informasi sangat erat kaitannya dengan teknologi.
                Pada era ini,  teknologi hampir tidak dapat dipisahkan dari kehidupan manusia, hampir semua hal menggunakan teknologi dengan tujuan 
                untuk memudahkan aktivitas kita. Maka dari itu, menurutku sangat penting mempelajari teknologi, selain untuk mempermudah hidup kita,
                mempelajari teknologi juga dapat melatih aktivitas kita menjadi lebih terstruktur. <br>
                Saat ini aku sedang mengambil mata kuliah Perancangan dan Pemrograman Web (PPW), dan halaman ini merupakan tugas pertamaku di mata kuliah PPW. 
                Dalam mata kuliah ini, aku berharap dapat semakin memperluas pengetahuanku di bidang  teknologi khususnya Web Developing.<br></p>
                <h5 style="text-align: center;"><b>EDUCATION</b></h5>
                  <!--TABEL RIWAYAT PENDIDIKAN-->
                  <table class="table table-striped" style="background-color: antiquewhite;">
                    <tbody style="text-align: center;">
                      <tr>
                        <td>2016 - 2019</td>
                        <td><b>SMAN 54 Jakarta</b></td>
                      </tr>
                      <tr>
                        <td>2013 - 2016</td>
                        <td><b>SMPN 3 Jakarta</b></td>
                      </tr>
                      <tr>
                        <td>2007 - 2013</td>
                        <td><b>SDN Kebon Manggis 03</b></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        </div>
      </div>

        </div>
      </div>
    </div>
   
    <!--CONTACT-->
<div class="contact-logo  pt-3" id="contact-logo">
  <a href="https://t.me/kudapunny">
    <img class="icon-contact" src="{% static 'blog/img/4.png' %}" width="60px" alt="telegram">
</a>
<a href="https://gitlab.com/puspita_vanni">
    <img class="icon-contact" src="{% static 'blog/img/gitlab.png' %}" width="60px" alt="gitlab">
</a>
<a href="https://www.instagram.com/puspitavanni_/">
    <img class="icon-contact" src="{% static 'blog/img/ig.png' %}" width="60px" alt="ig">
</a>
<a href="mailto:puspita.sari92@ui.ac.id">
  <img class="icon-contact" src="{% static 'blog/img/email.ico' %}" width="90px" alt="email">
</a>
</div>
    {% endblock content %}
  </body>
</html>