
{% load static %}

<!doctype html>
<html lang="en" id="home">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blog/css/styles.css' %}">

    <title>
        {% block page_title %}
            STORY 3
        {% endblock page_title %}
    </title>
    
<body>
  {% block content %}
    <header>
      <!--NAVBAR-->
      <div class="main">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
          <div class="container-fluid">
          <a href="#" class="navbar-brand mt-1"><img src="../../static/blog/img/horse.ico" / width="40%"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#experience">EXPERIENCE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#project">PROJECT</a>
              </li>
              <li class="nav-item page-scroll">
                <a class="nav-link" href="#contact">CONTACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">MORE</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
      <div class="title">
        <h1>Hello, I'm Vanni</h1>
      </div>
    </header>



    <!-----ABOUT------>
    <section class="about" id="about">
      <div class="container pb-5">
          <div class="row my-5">
              <div class="col text-center">
                  <h2><b>ABOUT</b></h2>
              </div>
          </div>

          <div class="row my-5 justify-content-center"> <!--justify-content-center itu buat ke tengah-->
              <div class="col-md-4 text-center">
                  <p class="pKiri text-left">Hi, I'm Puspita Sari Matovanni,
                    you can call me Vanni. I'm a student of Faculty of
                    Computer Science at University of Indonesia
                  </p>
              </div>

              <div class="col-md-4">
                <img src="../../static/blog/img/3.jpg" class="rounded-circle" id="rounded-circle">
              </div>
              <div class="col-md-4 text-center">
                  <p class="pKanan text-right">I really like swimmng,
                    sleeping, and reading
                  </p> 
              </div>
          </div>

          <div class="row mt-1 justify-content-center">
            <div class="col" id="hobi1">
              <img src="../../static/blog/img/swim.svg" class="hobi1">
            </div>

            <div class="col" id="hobi2">
              <img src="../../static/blog/img/sleep.svg" class="hobi2">
            </div>

            <div class="col" id="hobi3">
              <img src="../../static/blog/img/read.svg" class="hobi3" >
            </div>
          </div>
      </div>
  </section>
  <!---------------->

  <!--EXPERIENCE-->
  <section class="experience" id="experience">
    <div class="container">
      <div class="row mt-5">
        <div class="col text-center">
          <h2>EXPERIENCE</h2>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md my-2">
              <div class="card">
                <a href="#" class="card-img-top"><img src="../../static/blog/img/iac.jpg" class="card-img-top" alt="..." / ></a>
                <div class="card-body">
                  <h4 href="#" class="link-exp">IACILE Vol.3</h4>
                  <p class="card-text">Pengalaman yang tak terlupakan saat mengerjakan ProKer ini yaitu saat kami para panitia
                    berjualan stiker ke pengunjung Car Free Day
                  </p>
                </div>
            </div>
        </div>

          <div class="col-md my-2">
                <div class="card">
                  <a href="#" class="card-img-top"><img src="../../static/blog/img/olim.jpg" class="card-img-top" alt="..." / height=></a>
                  <div class="card-body">
                    <h4 href="#" class="link-exp">OLIM UI 2019</h4>
                    <p class="card-text">Menjadi bagian staff divisi Renang Olim UI 2019 memberikan pelajaran yang banyak bagi saya, 
                      mulai dari kedisiplinan, kebersamaan, sampai keceriaan
                    </p>
                  </div>
              </div>
          </div>

          <div class="col-md my-2">
            <div class="card">
              <a href="#" class="card-img-top"><img src="../../static/blog/img/siwak.jpg" class="card-img-top" alt="..." / height=></a>
              <div class="card-body">
                <h4 href="#" class="link-exp">SIWAK NG 2020</h4>
                <p class="card-text">SIWAK NG 2020 rasanya sangat berbeda dari tahun-tahun sebelumnya, kondisi pandemi yang tak
                  kunjung usai membuat sistem SIWAK diadakan secara online.
                </p>
              </div>
          </div>
      </div>
    
      </div>
  </section>
  <!----------->

 <!--PROJECT-->
 <section class="project" id="project">
  <div class="container-fluid mt-5 pb-5">
    <div class="row mb-3 mb-5">
      <div class="col text-center">
        <h2>PROJECT</h2>
      </div>
    </div>

    <div class="row justify-content-center" id="gmbr-row">
      <div class="col-md-6 my-2">
        <div class="card">
          <a href="#" class="card-img-top"><img src="../../static/blog/img/kb.jpg" class="card-img-top" alt="..." / ></a>
          <div class="card-body">
            <p class="card-text">Budaya KB Lite adalah salah satu project yang dibuat saat Mata Kuliah Dasar-Dasar Pemrograman 1, 
              yang mana project ini berupa pembuatan aplikasi penyimpanan database budaya Indonesia berbasis web</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-2">
        <div class="card">
          <a href="#" class="card-img-top"><img src="../../static/blog/img/soon.jpg" class="card-img-top" alt="..." / ></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>

    </div>
 </section>
 <!---->

    <!--CONTACT-->
    <footer class="text-white" id="contact">
      <div class="container mt-5">
        <div class="row">
          <div class="col text-center">
            <h2>CONTACT</h2>
          </div>
        </div>
      </div>
    </footer>

    <div class="contact-logo  pt-3" id="contact-logo">
      <a href="https://t.me/kudapunny">
        <img class="icon-contact" src="{% static 'blog/img/4.png' %}" width="60px" alt="telegram">
    </a>
    <a href="https://gitlab.com/puspita_vanni">
        <img class="icon-contact" src="{% static 'blog/img/gitlab.png' %}" width="60px" alt="gitlab">
    </a>
    <a href="https://www.instagram.com/puspitavanni_/">
        <img class="icon-contact" src="{% static 'blog/img/ig.png' %}" width="60px" alt="ig">
    </a>
    </div>
  </section>

  <footer class="text-white">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p>Copyright &COPY; 2020</p>
        </div>
      </div>
    </div>
  </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  {% endblock content %}
  </body>
</html>