.wrapper {
    min-height: 100vh !important;
    transition: .5s ease-out;
}

h4 {
    font-size:5px;
    text-shadow: 0 0 1.0rem rgba(127, 11, 138, 0.884);
    text-align: center;
}

.header {
    background-color:  rgba(71,189,154,.3);
    color: #4e4e4e;
    height: 3.5rem;
    transition: .5s ease-out;
}


.buttons {
    height: 3.5rem;
}

.header:hover {
    cursor: pointer;
}


.up {
    background-color: #7830b3b0;
    color: white;
    transition: .5s ease-out;
}

.up:hover, .down:hover {
    opacity: 0.9;
}

.down {
    background-color: #cc3893;
    color: white;
    transition: .5s ease-out;
}

.content {
    background-color: #f9fcfb;
    display: none;
}

.content .isi p {
    text-align: justify;
}

.judul:hover {
    color: black;
    text-shadow: 0 0 1.0rem rgb(255, 255, 255);
}

.accordion1 {
    order: 1;
}

.accordion2 {
    order: 2;
}

.accordion3 {
    order: 3;
}

.accordion4 {
    order: 4;
}

.accordion5 {
    order: 5;
}

